{% extends 'base.html' %}
{%  block content %}
<div class="message-box">
    <h2>Button: {{code}} </h2>
    <div class="join">
        <input type="text" placeholder="Room Code" id="code" name="code" />
        <button type="submit" name="join" onClick="sendMessage()">Join a Room</button>
    </div>
</div>
<script type="text/javascript">
    var socketio = io();

    const messages=document.getElementById("messages")
   /*  const createMessage=(msg)=>{
        const content=`
        <div class="text">
            <span>    
                <strong>${msg}</strong>: 
            </span>
            <span class="muted">    
                ${new Date().toLocaleDateString()}
            </span>
        </div>
        
        `
        messages.innerHTML+=content
    } 
    socketio.on("message",(data)=>{
        console.log(data.message)
        createMessage(data.message)
    })*/

    const sendMessage = ()=>{
        const message = document.getElementById("code")
        if (message.value=="") return;
        socketio.emit("message", {data: message.value})
        console.log(message.value)
        message.value = ""
        console.log("Button active")
    }
    
</script>
<!--Writes all the messages when entering the room-->

{% endblock %}