{% extends 'base.html' %}
{% block content %} 

   <h2>Home</h2>
   <b>To this page the text from button page will be sent.</b>
    <div class="messages" id="messages"></div>
    <script type="text/javascript">
        var socketio = io();

        const messages=document.getElementById("messages")
        const createMessage=(msg)=>{
            console.log("IN HOME")
            const content=`
            <div class="text">
                <span>    
                    <p>${msg}</p>
                </span>
            </div>
            `
            messages.innerHTML+=content//change only to message.innerHTML=content if you want to have only just written word/sentence
        }
        socketio.on("message",(data)=>{
            console.log(data)
            createMessage(data)
        })

    </script>
  

<!-- if one wants to loop through some kind of array when saving all the words
    {% for msg in messages %}

    <script  type="text/javascript">
        createMessage('{{msg.messages}}')
        console.log("eh")
    </script>

{% endfor %}  -->
{% endblock %}